/* Because it's only one page I'll be leaving it 
all on one css file */

/* Body */
body {
  margin: 0px 0;
  padding: 0;
  background-color: rgba(32, 33, 36, 1);
 

}

/* Grid */
.main-container {
  background-color: rgba(32, 33, 36, 1);
  display: grid;
  grid-template-rows: 60px 290px 139.1px 300px 47.33px;
  grid-template-areas:
    "navbar"
    "hero"
    "input-section"
    "blank-space"
    "footer";
}

.main-container > .nav > .text-links > .link > a,
.main-container > .footer > .text-links > .link > a,
.main-container > .footer > .items > .text-links > .link > a,
.main-container > .footer > .l-text-links > .link > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: small;
  color: #bdc1c6;
}

.main-container > .nav > .text-links > .link > a:hover,
.main-container > .footer > .text-links > .link > a:hover,
.main-container > .footer > .items > .text-links > .link > a:hover,
.main-container > .footer > .l-text-links > .link > a:hover {
  text-decoration: underline;
  color: #bdc1c6;
}

/* Nav */
/* Postioning nav */
.nav {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0; 
  width: 100%;
}

/* Positioning section */
.nav > .text-links {
  display: flex;
  flex-direction: row;
  margin: 20px -53px 0 0px;
  padding: 0;
  width: 129px;
  justify-content: space-evenly;
}

.nav > .text-links:nth-of-type(1) {
  width: 1146px;
  justify-content: start;
  gap: calc(15px);
  margin: 20px 0 20px 20px;
}

.nav > .content-wrapper {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding: 0;
  width: 129px;
  height: 30px;
  justify-content: space-evenly;
}

.nav > .content-wrapper > .icon > i,
.nav > .content-wrapper > .link > a > i {
  color: #bdc1c6;
}

.nav > .content-wrapper > .icon {
  width: 24px;
  height: 24px;
}

nav > .content-wrapper > .icon > i {
  cursor: pointer;
}

nav > .content-wrapper > .icon > i:hover {
  back
}

/* Positioning individual divs */

/* Google Logo */
.hero h1 {
  /* grid-area: hero; */
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-family: "Lexend", sans-serif;
  color: white;
  display: grid;
}

/* Input Area */
.mid-content-container > form {
  grid-area: input-section;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 561.99px;
  margin: -1cm 0px 0px 5.5in;
}

.mid-content-container > form > .input-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  width: 561.99px;
  height: 43.99px;
  margin: 20px;
  border-radius: 24px;
  box-shadow: none;
  background: #202124;
  border: 0.1px solid #5f6368;
  cursor: pointer;
  /* color: #bdc1c6; */
}

.mid-content-container > form > .input-section > .input > input {
  width: 442.88px;
  height: 34px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  color: #bdc1c6;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.mid-content-container > form > .input-section:hover {
  box-shadow: 0 1px 6px 0 #171717;
  background: #2a2d30;
  border: none;
}

.mid-content-container > form > .input-section > .icon > i {
  color: #5f6368;
  margin: 13px 0;
}
.mid-content-container > form > .input-section > div:nth-of-type(3) > i {
  color: rgb(227, 56, 56);
}

.mid-content-container > form > .input-section > div:nth-of-type(4) > i {
  color: rgb(79, 113, 251);
}

.mid-content-container > form > .buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mid-content-container > form > .buttons-wrapper > .submit-bttn > button {
  background-color: #303134;
  border: 0.1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-size: 14px;
  margin: 11px 4px;
  cursor: pointer;
  height: 36px;
  width: 126.5px;
  font-family: "Roboto", sans-serif;
}

.mid-content-container > form > .buttons-wrapper > .submit-bttn > button:hover {
  background-color: #303134;
  border: 0.1px solid #5f6368;
  color: #e8eaed;
}

/* Footer */
.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  background-color: #171717;position: fixed; 
  bottom: 0;
  left: 0;
  right: 0;
  height: 47.33px;
}

.footer > .items > .icon {
  color: green;
}

.footer > .text-links,
.l-text-links {
  display: flex;
  margin: 15px 0 15px 35px;
  width: 455.66px;
  gap: calc(32px);
  /* justify-content: center; */
}

.footer > .l-text-links {
  justify-content: end;
  margin: 15px 50px 0px 0px;
}

.footer > .items {
  display: flex;
  margin: 15px 0 15px 0;
  width: 212.47px;
  justify-content: space-evenly;
}
